* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper {
    display: grid;
    grid-template-columns: minmax(0,1fr) repeat(6, minmax(0, 200px)) minmax(0,1fr);
}
header {
    grid-column: 1 / 9;
    grid-row: 1 / 2;
    position: relative;
    margin-bottom: 1rem;
}
header nav {
    position: absolute;
    width: 100%;
    background-color: rgba(255, 192, 203, 0.7);
    padding: 2rem;
}
main {
    grid-row: 2 / 3;
    grid-column: 2 / 8;
}
footer {
    grid-row: 3 / 4;
    grid-column: 2 / 8;
}
header nav div ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
header nav div {
    text-align: center;
}
header nav div ul li a {
    color: black;
    text-decoration: none;
}
header nav div>img {
    display: none;
}
.hero {
    width: 100%;
    height: calc(100vh - 5rem);
    object-fit: cover;
    object-position: 50% 25%;
}
footer {
    grid-column: 1 / 9;
    text-align: center;
    background-color: rgba(255, 192, 203, 0.7);
    padding: 1rem 3rem 3rem;
    margin-top: 1rem;
}
.logo {
    width: 100%;
    height: auto;
}
footer img.logo {
    width: 10%;
}
.nav-footer div ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    border-top: 1px solid black;
    margin-top: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    padding-top: 0.5rem;
}
.nav-footer div ul li a {
    color: black;
    text-decoration: none;
}
.left-footer {
    float: left;
}
.right-footer {
    float: right;
}